version: "3.0"
services:
  chroma:
    image: ghcr.io/chroma-core/chroma:latest
    volumes:
      - index_data:/chroma/.chroma/index
      - ~/server.htpasswd:/chroma/config/server.htpasswd
    restart: unless-stopped
    ports:
      - 8000:8000
    networks:
      - net
    environment:
      - CHROMA_SERVER_AUTHN_CREDENTIALS_FILE=/chroma/config/server.htpasswd
      - CHROMA_SERVER_AUTHN_PROVIDER=chromadb.auth.basic_authn.BasicAuthenticationServerProvider

volumes:
  index_data:
    driver: local
  backups:
    driver: local

networks:
  net:
    driver: bridge
